<div class='center-container'>
  <h2>Move your Rdio library to Spotify</h2>

  <p>Apologies for the unfinished UX. I ran out of time.</p>

  <h3>Instructions</h3>
  <ol class='instruction-list'>
    <li>Login with both Rdio and Spotify.</li>
    <li>
      Sync your collection from Rdio (click "Start Rdio Sync"). <strong>This will take about 10-15 minutes</strong>, and there is no visual indication of progress. Just click the button once, and reload occasionally until you see the "Match with Spotify" button.<br/><br/>Please be patient 🙏
    </li>
    <li>
      Match your albums and tracks with Spotify (click "Match with Spotify"). Again, this will take a few minutes, and there is no visual indication of progress. Just click the button once, and reload occasionally until the button has disappeared.
    </li>
    <li>
      View your albums and tracks. Look at the lists of unmatched albums or tracks. Many of these will have potential matches visible. Just click on the one you'd like to keep.
    </li>
    <li>
      When you've manually matched the remaining items, click "Save matches to Spotify". This should be very quick.
    </li>
    <li>
      You may want to manually add the remaining unmatched stuff yourself by searching on Spotify. Or at least make note of it somehow.
    </li>
    <li>
      Enjoy your Rdio collection on Spotify!
    </li>
  </ol>


  {{#unless currentUser.spotifyLoggedIn}}
    <button {{action 'signIntoSpotify'}}>Sign into Spotify</button>
  {{/unless}}
  {{#unless currentUser.rdioLibrarySynced}}
    <button {{action 'startSync'}}>Start Rdio Sync</button>
  {{/unless}}
  {{#if currentUser.readyForSpotifyMatch}}
    <button {{action 'matchWithSpotify'}}>Match with Spotify</button>
  {{/if}}

  {{#if currentUser.spotifyMatched}}
    <button {{action 'saveToSpotify'}}>Save matches to Spotify</button>
  {{/if}}

  {{outlet}}

</div>
