<div class='rdio-album'>
  <header>
    <h3>Rdio Album</h3>
  </header>
  <div class='album-art' style={{backgroundImage model.rdioAlbum.icon}}></div>
  <p class='album-name'>
    <a href='{{model.rdioAlbum.shortUrl}}' title='View on Rdio'>
      {{model.rdioAlbum.name}}
      {{#if model.rdioAlbum.isExplicit}}
        <span class='explicit-icon'></span>
      {{/if}}
    </a>
  </p>
  <p class='artist-name'>{{model.rdioAlbum.artistName}}</p>

  <div class='metadata'>
    {{moment-format model.rdioAlbum.releaseDate 'YYYY'}}
    ·
    {{pluralize-word model.rdioTrackCount 'songs'}},
    {{moment-duration model.rdioAlbum.duration 's'}}
  </div>

  <ul class='track-list'>
    {{#each model.rdioAlbum.tracks as |track|}}
      <li class='track-list-item'>
        {{track.trackNum}}: {{track.name}}
        {{#if track.isExplicit}}
          <span class='explicit-icon'></span>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>

<header>
  <h3>Spotify Matches</h3>
</header>

<div class='spotify-album-list'>
  {{#each model.matches as |match|}}
    {{album-match collectionAlbum=model match=match}}
  {{/each}}
</div>
