<dl>
  <dd>Artist</dd>
  <dt>{{model.artist}}</dt>
  <dd>Tracks</dd>
  <dt>{{model.length}}</dt>
  <dd>Duration</dd>
  <dt>{{model.duration}}</dt>
  <dd>Explicit?</dd>
  <dt>{{model.isExplicit}}</dt>
  <dd>Clean?</dd>
  <dt>{{model.isClean}}</dt>
  <dd>URL</dd>
  <dt><a href='{{model.shortUrl}}'>{{model.shortUrl}}</a></dt>
</dl>

<img src='{{model.icon}}'/>
