<div class='rdio-album'>
  <header>
    <h3>Rdio Album</h3>
  </header>
  <div class='album-art' style={{backgroundImage model.rdioAlbum.icon}}></div>
  <p class='album-name'>
    {{model.rdioAlbum.name}}
    <a class='album-link' href='{{model.rdioAlbum.shortUrl}}' title='View on Rdio'>🔗</a>
  </p>
  <p class='artist-name'>{{model.rdioAlbum.artistName}}</p>

  <dl>
    <dt>Tracks</dt>
    <dd>{{model.rdioAlbum.length}}</dd>
    <dt>Duration</dt>
    <dd>{{model.rdioAlbum.duration}}</dd>
    <dt>Explicit?</dt>
    <dd>{{model.rdioAlbum.isExplicit}}</dd>
    <dt>Clean?</dt>
    <dd>{{model.rdioAlbum.isClean}}</dd>
  </dl>

  <h3>Track list:</h3>
  <ul>
    {{#each model.rdioAlbum.tracks as |track|}}
      <li>
        {{track.trackNum}}: {{track.name}}
        {{#if track.isExplicit}}(Explicit){{/if}}
      </li>
    {{/each}}
  </ul>
</div>

<header>
  <h3>Spotify Matches</h3>
</header>

<div class='spotify-album-list'>
  {{#each model.matches as |spotifyAlbum|}}
    <div class='spotify-album'>
      <div class='select-album'>
        <p>Select this match ✓</p>
      </div>
      <div class='album-art' style={{backgroundImage spotifyAlbum.image}}></div>
      <p class='album-name'>
        {{spotifyAlbum.name}}
        <a class='album-link' href='{{spotifyAlbum.url}}' title='View on Spotify'>🔗</a>
      </p>
      <p class='artist-name'>{{spotifyAlbum.artistName}}</p>
      <dl>
        <dt>Tracks</dt>
        <dd>{{spotifyAlbum.tracks.length}}</dd>
        <dt>Duration</dt>
        <dd>{{if spotifyAlbum.durationMs spotifyAlbum.durationMs '-'}}</dd>
        <dt>Explicit?</dt>
        <dd>-</dd>
        <dt>Clean?</dt>
        <dd>{{spotifyAlbum.isClean}}</dd>
      </dl>

      <h3>Track list:</h3>
      <ul>
        {{#each spotifyAlbum.tracks as |track|}}
          <li>
            {{track.trackNum}}: {{track.name}}
            {{#if track.isExplicit}}(Explicit){{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
