<img class='album-art' src='{{model.icon}}'/>

<dl>
  <dd>Artist</dd>
  <dt>{{model.artistName}}</dt>
  <dd>Tracks</dd>
  <dt>{{model.length}}</dt>
  <dd>Duration</dd>
  <dt>{{model.duration}}</dt>
  <dd>Explicit?</dd>
  <dt>{{model.isExplicit}}</dt>
  <dd>Clean?</dd>
  <dt>{{model.isClean}}</dt>
  <dd>URL</dd>
  <dt><a href='{{model.shortUrl}}'>{{model.shortUrl}}</a></dt>
</dl>

<h3>Track list:</h3>
<ul>
  {{#each model.tracks as |track|}}
    <li>
      {{track.trackNum}}: {{track.name}}
      {{#if track.isExplicit}}(Explicit){{/if}}
    </li>
  {{/each}}
</ul>
